.Rproj.user/
.Rhistory
.Rproj.user
._*
~*
__pycache__/
1-media/
2-data/temporal_data.csv
2-data/1-raw_tracks/
2-data/2-smoothed_tracks/
2-data/3-behaviour_tracks/
2-data/4-models/
3-figs/spatial_checks/
5-archive/
26-manuscript-ami_social_fear.docx
26-supplementary-ami_social_fear.docx
26-ethocred_reporting-ami_social_fear.xlsx 
6-submissions/